<% if @song.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @song, remote: true do |f| %>

  <%= f.label :title  %><br/>
  <%= f.text_field :title %><br/>

  <%= f.label :composer %><br/>
  <%= f.text_field :composer %><br/>

  <%= f.submit %>

<% end %>
