<h1>'<em><%= @song.title %>'</em></h1>
<p>by <%= @song.composer%></p>
<div class="crud-links">
<%= link_to "Back", songs_path, class: "button" %> |
<%= link_to "Edit", edit_song_path(@song), class: "button" %> |
<%= link_to("Delete", song_path(@song), class: "button", method:
    :delete, data: { confirm: 'Are you sure?' }) %>
</div>

<hr/>

<div>
  <%= link_to "New Chord", new_song_chord_path(@song.id) %>
</div>

<ul>
  <% @song.chords.each do |chord| %>
    <li>| <%= chord.pitch %><em><%= chord.quality %></em> |</li>
  <% end %>
</ul>
